<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ @title }}</title>
</head>
<body>
<h1>{{ @title }}</h1>
<p>{{ @username }} is logged in with {{ @password }}</p>

<h3>Temperature</h3>
<p>Fahrenheit temp: {{ @ftemp }}</p>
<p>Celsius temp: {{ round((@ftemp-32) * (5.0/9.0), 2) }}</p>
</body>
</html>