<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ @title }}</title>
</head>
<body>
    <h1>{{ @title }}</h1>
    <p>{{ @username }} is logged in with {{ @password }}</p>

    <h3>Temperature</h3>
    <p>Fahrenheit temp: {{ @ftemp }}</p>
    <p>Celsius temp: {{ round((@ftemp-32) * (5.0/9.0), 2) }}</p>

    <h3>Fruit</h3>
    <ul>
    <repeat group="{{ @fruits }}" value="{{ @fruit }}">
        <li>{{ trim(@fruit) }}</li>
    </repeat>
    </ul>

    <h3>Salaries</h3>
    <repeat group="{{ @salaries }}" key="{{ @name }}" value="{{ @salary }}">
        <p>{{ @name }} earns {{ @salary }}</p>
        <check if="{{ @salary > 150000 }}">
            <p>Wow, you're rich!</p>
        </check>
    </repeat>

    <h3>Conditionals</h3>
    <check if="{{ @num == 5 }}">
        <true>
            <p>YES</p>
        </true>
        <false>
            <p>NO</p>
        </false>
    </check>
    <check if="{{ @preferredCustomer }}">
        <p>You get a discount!</p>
    </check>
</body>
</html>